source .secret

export SCW_DEFAULT_REGION="fr-par"
export SCW_DEFAULT_ZONE="fr-par-3"

export APP_NAME=myapp
export PACKAGE_NAME="xyz.sklein.myapp"

# Certificate parameters
export PROD_CERTIFICATE_ALIAS_NAME="myapp-key"
export PROD_CERTIFICATE_KEYSTORE_PASSWORD="password"
export PROD_CERTIFICATE_KEY_PASSWORD="password"
export PROD_CERTIFICATE_DNAME="CN=JohnDoe, OU=Main, O=MyCompany, L=Paris, ST=France, C=FR"
export PROD_CERTIFICATE_VALIDITY_DAYS=10000
