# Ask this information to contact@stephane-klein.info
export SCW_DEFAULT_ORGANIZATION_ID="215d7434-xxxxx" # Get it, in https://console.scaleway.com/organization/settings
export SCW_ACCESS_KEY="SCWR9xxxx"
export SCW_SECRET_KEY="..."
export SCW_PROJECT_ID="46ad009f-xxxx"
