{
  "appId": "{{ .Env.PACKAGE_NAME }}",
  "appName": "{{ .Env.APP_NAME }}",
  "webDir": "dist",
  "server": {
    "allowNavigation": "{{ .Env.ALLOW_NAVIGATION }}"
  },
  "plugins": {
    "SplashScreen": {
      "launchAutoHide": true
    }
  }
}
