<?xml version='1.0' encoding='utf-8'?>
<resources>
    <string name="app_name">{{ .Env.APP_NAME }}</string>
    <string name="title_activity_main">{{ .Env.APP_NAME }}</string>
    <string name="package_name">{{ .Env.PACKAGE_NAME }}</string>
    <string name="custom_url_scheme">{{ .Env.PACKAGE_NAME }}</string>
</resources>
